body {
  overflow-y: hidden;
}

/* Navbar */
.navbar-nav {
  display: flex;
}

.navbar-nav li {
  flex: 1;
}

.navbar-nav a, .dropdown-toggle {
  height: 50px;
}

.dropdown-menu {
  background: black;
}

.navbar-nav .active,.navbar-nav a:hover, .dropdown-toggle:hover, .dropdown-item:hover  {
  background: rgb(212, 206, 206);
  color: black !important;
}

.navbar-brand {
  margin: -15px;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
}

.navbar-brand > a:hover {
  text-decoration: none;
}

.navbar, .dropdown-toggle, .dropdown-item {
  color: white;
  background: black;
}

.dropdown-item {
  cursor: pointer;
}

.open > .dropdown-menu {
  display: block;
}

@media (min-width: 768px) {
  nav {
    height: 50px;
  }

  #log > li {
    padding-top: 15px;
  }
}

/* Sidebar */
#sidebar-container {
  z-index: 2;
  position: fixed;
  left: -100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  overflow: hidden;
  text-align: center;
  transition: 500ms;
 }

#sidebar {
  width: 80vw;
  margin-top: 45px;
  height: calc(100vh - 45px);
  background: rgb(25, 25, 25);
}

#sidebar-container.menu-displayed {
  left: 0;
}

#user {
  border: 2px solid white;
}

@media (min-width: 768px) {
  #sidebar-container {
    left: 0;
    background: rgb(25, 25, 25);
  }
  
  #sidebar {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Main Content */
#main-content {
  font-size: 0.8rem;
  overflow-y: scroll; 
  height: calc(100vh - 45px);  
}

#page-title {
  width: 100%;
  padding-left: 30px;
  border-bottom: 2px solid rgb(25, 25, 25);
  margin: 0 -30px 30px -30px;
}

::-webkit-scrollbar {
  display: none;
}

/* Exam */
.question {
  font-size: 14px;
  width: 28px;
  height: 28px;
  padding: auto 0 auto 0;
}

/* Question */
.correct {
  border: 2px solid green !important;
}

.incorrect {
  border: 2px solid red !important;
}
