::-webkit-scrollbar {
display: none;
}

@media (min-width: 576px) {
  .col-height-custom {
    height: 80vh;
  }
  .show-active, .nav-item:hover {
    border-bottom: 2px solid white !important;
  }
  .nav-link {
    min-width: 75px;
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .col-height-custom {
    height: 60vh;
  }
  .nav-link {
    width: 150px;
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .col-height-custom {
    height: 90vh;
  }
}

#follow > li:hover {
    background: darkblue;
}

.follow-ul > li > a, nav-link {
  display: block;
}
